/*Disclaimer: Some code has no practical use other than me not knowing 
where to squeeze in another attribute selector, pseudo class/element etc. */

:root {
    --color-default:#060606;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--color-default);
}

body {
    background-color: #F7F4F2;
    height: 100vh;
}

h1 {
    margin: 3rem auto;
}

h1, p, figcaption {
    text-align: center;
}

div strong {
    text-align: center;
}

time[datetime] {
    font-weight: 900;
}

form {
    background-color: rgb(225 225 225 / 40%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 3rem auto;
    max-width: 800px;
    padding: 2rem;
}

fieldset {
    border:none;
    margin-top: 1.5rem;
}

fieldset>div {
    display:flex;
}

legend {
    padding-bottom: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

legend::first-letter {
    font-size: 1.75rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}

input {
    margin-bottom: 3rem;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
}

input:not(.input-file) {
    padding: .5rem;
}

input:focus, input:focus-visible, input:hover{
    outline: none;
    border: 1px solid var(--color-default);
}

input::file-selector-button {
    margin-bottom: .5rem;
    padding: .5rem 1.5rem;
    border-radius: 0;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
    background-color: white;
}

input::placeholder {
    font-size: 1rem;
}

abbr[aria-label=required] {
    color: #E60000;
}

button {
    display: block;
    border: 1px solid transparent;
    margin: auto;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .75rem 1.75rem;
    border-radius: 10px;
    background-color: white;
    font-weight: 700;
}

button[type~=submit]:hover, button:focus, button:focus-visible { 
    border: 1px solid var(--color-default);
    outline: 0;
}

figure {
    padding-bottom: 3rem;
}

.input-wrapper {
    flex-grow: 1;
}

.input-wrapper-right {
    margin-left: 1.5rem;
}

.required::after {
    content: "*";
    color: #E60000;
}


.gallery-container {
    margin: 48px auto;
    max-width: 800px;
    padding: 32px;
}

.viewer {
    width: 100%;
    height: auto;
}

.image-list {
    padding: 0;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    column-gap: 10px;
    list-style-type: none;
    height: 160px;
}

.image-item {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 321px) {

    input::file-selector-button {
        display: block;
    }
}

@media only screen and (max-width: 426px) {

    fieldset>div {
        flex-direction: column;
    }

    fieldset>div>div:last-child {
        margin-left: 0;
    }
}

@media only screen and (max-width: 769px) {

    legend {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 426px) and (orientation: landscape) {

    h1 {
        margin: 1.5rem 0;
    }

    form {
        margin: 1.5rem 3rem;
        padding: 1rem 2rem;
    }

    fieldset {
        margin-top: .75rem;
    }

    input {
        margin-bottom: 1.5rem;
    }

    legend {
        padding-bottom: .75rem;
    }

    figure {
        padding-bottom: 1.5rem;
    }
}